<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>__BASE_URL__/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/features/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/privacy/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/privacy-choices/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/support/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/accessibility/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/age-suitability/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/eula/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/license-agreement/</loc>
  </url>
  <url>
    <loc>__BASE_URL__/content-rights/</loc>
  </url>
</urlset>
